# Virtual environment
.venv/
venv/
env/
ENV/

# Python cache
__pycache__/
*.py[cod]
*.pyd

# Environment files
.env

# Keys and signatures
private_key.pem
public_key.pem
string_signature.txt
file_signature.txt